# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.production.local

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/
